body {
  text-align: center;
}

.card {
  margin-top: 20px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto;
}

.main-body {
  position: relative;
}

.viewed {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.viewed-body {
  padding: 18px;
}

.recently-viewed {
  display: none;
}

#expand {
  color: #4286f4;
}

#hide {
  display: none;
  color: #4286f4;
}

#expand:hover, #hide:hover {
  cursor: pointer;
  color: gray;
}

ul {
  padding: 0;
  list-style-type: none;
}

.bold {
  font-weight: bold;
}

.doctor-info {
  display: none;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, select {
  margin-bottom: 20px;
  text-align: center;
  height: 50px;
  font-size: 30px;
  border: 0;
  background-color: transparent;
}

select {
  width: 70px;
}

input {
  width: 30%;
  border-bottom: 1px solid gray;
}

input:focus, select:focus {
  outline: none;
}

button {
  margin-top: 30px;
  width: 100px;
}

h5:hover {
  cursor: pointer;
  color: #4286f4;
}

img {
  margin-bottom: 20px;
}

.small-text {
  font-size: 12px;
}
